cellpose
click
# javabridge 
# importlib_metadata
importlib-metadata
natsort
numba
numpy==1.20.0
pandas
progress
PyQt5
PyQt5-Qt5
PyQt5-sip
pyqtgraph
python-javabridge
python-bioformats
scipy
tifffile
torch
PyQt6